@model List<Sales>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Quarterly Sales
            </h2>
        </div>

        <div class="col-6 text-end">
            <div class="d-flex align-items-center">
                <select id="manager" class="form-select" style="width: 150px;">
                    <option value="">All Sales</option>
                    @foreach (var manager in ViewBag.Managers)
                    {
                        <option value="@manager.Id">@manager.FullName</option>
                    }
                </select>

                <select id="yrs" class="form-select ms-2" style="width: 150px;">
                    <option value="0">All Years</option> 
                    @foreach (var year in ViewBag.DistinctYears)
                    {
                        <option value="@year">@year</option>
                    }
                </select>

                <select id="qtrs" class="form-select ms-2" style="width: 150px;">
                    <option value="0">All Quarters</option> 
                    @foreach (var quarter in ViewBag.QuarterList)
                    {
                        <option value="@quarter">@quarter</option>
                    }
                </select>


                <button id="filterBtn" class="btn btn-primary ms-2">
                    <i class="bi bi-plus-circle-dotted"></i> Filter
                </button>
            </div>
        </div>
    </div>
</div>

<table id="salesTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Year</th>
            <th>Quarter</th>
            <th>Employee</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>



     @section Scripts{
     @{
        <partial name="_ValidationScriptsPartial" />
      }

    <script>
        $(document).ready(function () {

            function loadAllRecords() {


                $.ajax({
                    type: 'GET',
                    url: '/Category/Filter',
                    data: { managerName: '' },
                    success: function (response) {
                        console.log('All records loaded successfully!');
                        console.log('Response:', response);

                        $('#salesTable tbody').empty();
                        $.each(response, function (index, obj) {
                            $('#salesTable tbody').append('<tr><td>' + obj.year + '</td><td>' + obj.quarter + '</td><td>' + obj.employeeName + '</td><td>' + obj.amount + '</td></tr>');
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            loadAllRecords();

            $('#filterBtn').click(function () {
                var selectedManagerName = $('#manager').val();
                var selectedYear = $('#yrs').val();
                var selectedQuarter = $('#qtrs').val();

                $.ajax({
                    type: 'GET',
                    url: '/Category/Filter',
                    data: {
                        managerName: selectedManagerName,
                        year: selectedYear,
                        quarter: selectedQuarter
                    },
                    success: function (response) {
                        console.log('Data sent successfully!');
                        console.log('Response:', response);

                        $('#salesTable tbody').empty();
                        $.each(response, function (index, obj) {
                            $('#salesTable tbody').append('<tr><td>' + obj.year + '</td><td>' + obj.quarter + '</td><td>' + obj.employeeName + '</td><td>' + obj.amount + '</td></tr>');
                        });

                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

        });
    </script>

     }